packages
*.FileListAbsolute.txt
*.FilesWrittenAbsolute.txt
*.dll.config
*.exe.config
*.mdb
*.pdb
*.psess
*.suo
*.user
*.userprefs
*.vspx
.DS_Store
.htaccess
.idea
.ssh
.vs
.cache
public
node_modules
Newtonsoft.Json.*
Npgsql*.dll
Telerik.OpenAccess.*
apache_error_log
bundle.js
code/application/logs
httpd.conf
midtier/drip-dot-net-master/
AssemblyCache.config
midtier/Authorize.NET/bin/*
midtier/Authorize.NET/bin/Debug/*
midtier/Authorize.NET/obj/*
midtier/TestResults
midtier/UC.Admin/bin/*
midtier/UC.Admin/node_modules/*
midtier/UC.Admin/obj/*
midtier/UC.EF7/bin
midtier/UC.Midtier/bin/*.xml
midtier/UC.Midtier/bin/Antlr3.Runtime.dll
midtier/UC.Midtier/bin/AuthorizeNet.dll
midtier/UC.Midtier/bin/Dapper.dll
midtier/UC.Midtier/bin/EasyHttp.dll
midtier/UC.Midtier/bin/EntityFramework.SqlServer.dll
midtier/UC.Midtier/bin/EntityFramework.dll
midtier/UC.Midtier/bin/Facebook.dll
midtier/UC.Midtier/bin/FluentNHibernate.dll
midtier/UC.Midtier/bin/Flurl.Http.dll
midtier/UC.Midtier/bin/Flurl.dll
midtier/UC.Midtier/bin/Hangfire*
midtier/UC.Midtier/bin/Iesi.Collections.dll
midtier/UC.Midtier/bin/JsonFx.dll
midtier/UC.Midtier/bin/MailChimp.dll
midtier/UC.Midtier/bin/Microsoft.*.dll
midtier/UC.Midtier/bin/Mono*
midtier/UC.Midtier/bin/MvcWebApiCors.dll
midtier/UC.Midtier/bin/MySql.Data.Entity.EF6.dll
midtier/UC.Midtier/bin/MySql.Data.dll
midtier/UC.Midtier/bin/NHibernate.dll
midtier/UC.Midtier/bin/NewRelic*
midtier/UC.Midtier/bin/Newtonsoft.Json.dll
midtier/UC.Midtier/bin/Owin.dll
midtier/UC.Midtier/bin/ServiceStack*
midtier/UC.Midtier/bin/SharpRaven.*
midtier/UC.Midtier/bin/Swashbuckle*
midtier/UC.Midtier/bin/System.Net.*.dll
midtier/UC.Midtier/bin/System.Web.*.dll
midtier/UC.Midtier/bin/UC.NHibernate.*
midtier/UC.Midtier/bin/UCMidtier.*
midtier/UC.Midtier/bin/WebActivatorEx.dll
midtier/UC.Midtier/bin/WebGrease.dll
midtier/UC.Midtier/bin/YouTrackSharp.dll
midtier/UC.Midtier/bin/log4net.dll
midtier/UC.Midtier/obj/
midtier/UC.Models/obj/*
midtier/UC.NHibernate/bin
midtier/UC.NHibernate/obj
midtier/UC.Test/bin/*
midtier/UC.Test/bin/*/*.xml
midtier/UC.Test/obj/*
midtier/UC.Web/scripts/dist
midtier/UCMidtier/bin/*.xml
midtier/UCMidtier/obj/*
midtier/packages/
obj
